html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	display: flex;
	align-items: stretch;
	overflow-y: hidden;
	background-color: white;
}

#bg-container {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*background: url(../res/wallpaper.jpg);*/
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: opacity 1s ease-out;
}

#clock {
	text-align: center;
	font-size: 950%;
	line-height: 1;
	letter-spacing: 0;
	white-space: nowrap;
	color: #fff;
	text-shadow: 1px 1px 50px rgba(0, 0, 0, 0.5);

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-animation: fadein .5s ease 0s forwards;
}

#message {
	font-size: 330%;
	letter-spacing: 0;
	white-space: nowrap;
	color: #fff;
	text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-animation: fadein .5s ease 0s forwards;
}

#bottom-div {
	right: 0;
	bottom: 0;
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: space-between;
}

#bottom-left-div {
	flex: 2;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}

#settings {
	fill: rgba(255, 255, 255, .7);
	filter: drop-shadow(0px 0px 1px #000);
	opacity: 0.8;
	width: 20px;
	margin-left: 20px;
	margin-bottom: 20px; 
	cursor: pointer;
	transition: all .25s ease-in-out;
}

#settings:hover {
	fill: white;
}

#bottom-center-div {
	flex: 5;
	margin-bottom: 10px;
	transition: all .35s ease;
}

#bottom-right-div {
	flex: 2;
}

#bottom-center-div p {
	margin: 0;
}

#quote {
	text-align: center;
	font-size: 100%;
	line-height: 120%;
	letter-spacing: 0;
	color: #fff;
	opacity: 0.9;
	text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#quote:before {
	content: "\201C";
}

#quote:after {
	content: "\201D";
}

#quote-metadata{
	height: 0;
	opacity: 0;	
	transition: all .5s ease;

	text-align: center;
	font-size: 90%;
	color: #fff;
}

#bottom-center-div:hover > #quote-metadata{
	height: 20px;
	opacity: 0.8;
	display: block;
	text-shadow: 1px 1px 5px rgba(0,0,0,.7);
}

@media screen and (max-height: 400px) {
	#clock {
		display: none;
	}
}

@media screen and (max-height: 600px) {
	#bottom-center-div {
		display: none;
	}
}

#settings-popup {
	position: absolute;
	bottom: 50px;
	left: 10px;
	display: inline;
	color: #FFFFFF;
	background: #000000;
	height: 100px;
	width: 350px;
	line-height: 30px;
	text-align: center;
	visibility: hidden;
	border-radius: 6px;
}

#settings-popup:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 20px;
	margin-left: -8px;
	width: 0; height: 0;
	border-top: 8px solid #000000;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

#settings-popup.show {
	visibility: visible;
	opacity: 0.8;
	z-index: 999;
}

#settings-popup-container {
	padding: 10px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

#settings-name-wrap {
	margin-bottom: 15px;
}

#settings-name {
	display: inline-block;
	margin-left: 20px;
}

.hide {
	visibility: hidden;
	opacity: 0;
}
